header {
  height: 50px;
  border-bottom: 1px solid #ddd;
  background-color: #f6f6f6;
}
.banner {
  margin: 0 auto;
  height: 100%;
  width: 60%;
}
.logo {
  display: block;
  font-size: 2.5em;
  line-height: 50px;
  float: left;
}
button.login {
  float: right;
  margin: 10px 4px;
  width: 60px;
  height: 30px;
  font-size: 1em;
  border-radius: 2px;
  border: 1px solid #bbb;
  color: gray;
  background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background: linear-gradient(top, #fff 0%, #eee 100%);
}
button.register {
  float: right;
  margin: 10px 4px;
  width: 60px;
  height: 30px;
  font-size: 1em;
  border-radius: 2px;
  border: 1px solid #60b044;
  color: white;
  background: -webkit-linear-gradient(top, #8add6d 0%, #60b044 100%);
  background: linear-gradient(top, #8add6d 0%, #60b044 100%);
}
