/*header style*/
.container-fluid {
  font-weight: bold;
  background-color: #026aa7;
}

header.navbar-default {
  border: 0;
}

.menu, .search {
  text-align: left;
  margin-left: 5px;
  float: left;
}

.search {
  width: 190px;
}

.search input {
  background-color: #3784c6;
}

.search input:focus {
  width: 380px;
  background-color: #f5f5f5;
}

.logo {
  position: absolute;
  top: 5px;
  left: 50%;
  text-align: center;
  line-height: 34px;
  margin-left: -67px;
}

.logo img {
  height: 34px;
  width: auto;
}

.logo a {
  color: #ddd;
  text-decoration: none;
}

.logo span {
  font-weight: bold;
}

.user {
  text-align: right;
  float: right;
  margin-right: 10px;
}

/*making .menu, .search, .user verical align center*/
header .row {
  margin-top: 5px;
  margin-bottom: 5px;
}


/*calendar style*/
.calendar-wrapper {
  position: fixed;
  top: 57px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
}

.calendar-header .row {
  position: relative;
}

.calendar-title {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -45px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 34px;
}

.calendar-today {
  float: left;
  margin-left: 8px;
}

.calendar-next-pre {
  float: left;
  margin-left: 8px;
}

.calendar-view {
  float: right;
  margin-right: 15px;
  text-align: right;
}

/* 垂直方向 */
.scroll-bar-ver {
  position: absolute;
  top: 85px;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.day-of-week {
  margin: 10px 0;
}

.day-of-week div {
  float: left;
  width: 14.2857%;
  text-align: center;
}

.day-cell {
  position: relative;
  width: 14.2857%;
  background-color: #eee;
}

@media (max-width: 768px) {
  .day-cell {
    height: 50px;
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
  .day-cell {
    height: 105px;
  }
}

@media (min-width: 1200px) {
  .day-cell {
    height: 140px;
  }
}

.day-cell:hover {
  background-color: #ddd;
}

.day-cell .active {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 350px;
  z-index: 1000;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ebebeb;
  box-shadow: 0 0 6px rgba(0,0,0,.35),
              0 0 1px rgba(0,0,0,.1);
}

.calendar-table tr td {
  border: 5px solid #f5f5f5;
  border-radius: 4px;
}

.calendar-table tr > td:not(:first-child) .day-cell {
  border-left: 0;
}

/*滚动条样式*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} /* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #eee;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
	  border-radius: 5px;
	  background-color: #ccc;
} /* 滑块颜色 */
::-webkit-scrollbar-button {
	  display: none;
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
	  background-color: #eee;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

/*水平方向*/
.scroll-bar-hor {
  position: absolute;
  top: 85px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.calendar-weeks-wrapper {
  height: 100%;
  text-align: center;
}

.week {
  float: left;
  height: 100%;
}

.day-col {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 100%;
  background-color: #e2e4e6;
}

.day-col:hover {
  /* 通过调节l通道使hover的背景色更暗一些 借用color-picker插件可以获取非hover状态下的hsl值*/
  background-color: hsl(209, 7%, 86%);
}
