.menu, .search {
  text-align: left;
}

.logo {
  text-align: center;
}
.logo h3 {
  margin: 0;
  line-height: 38px;
  font-family: "微软雅黑", sans-serif;
  color: #888;
}

.user {
  text-align: right;
}
