/*header style*/
.menu, .search {
  text-align: left;
}

.logo {
  text-align: center;
}
.logo h3 {
  margin: 0;
  line-height: 34px;
  font-family: "微软雅黑", sans-serif;
  color: #888;
}

.user {
  text-align: right;
}

/*making .menu, .search, .user verical align center*/
header .row {
  margin-top: 5px;
  margin-bottom: 5px;
}
