.menu, .search {
  text-align: left;
}

.menu input {
  /*display: inline-block;*/
  /*width: 180px;*/
}

.logo {
  text-align: center;
}
.logo h3 {
  margin: 0;
  line-height: 52px;
}

.user {
  text-align: right;
}

.menu, .logo, .user {
  line-height: 52px;
}
